{% extends "general/header.html" %}

{% block content %}
    <h1>Create Group</h1>
    <p>{{ message }}</p>
    <form method="POST">
        {% csrf_token %}
        {% for friend in friends %}
          {% for member in members %}
            {% if member.user.username != friend.friend.username %}
              {% if member.user.username != friend.user %}
                {% if friend.user == user.username %}
                  <p>
                    {{ friend.friend.username }}
                    <input type="checkbox" name="{{friend.friend.username}}" value="{{friend.friend.username}}">
                  </p>
                {% endif %}
                {% if friend.friend == user %}
                  <p>
                    {{ friend.user }}
                    <input type="checkbox" name="{{friend.user}}" value="{{friend.user}}">
                  </p>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        <input type="submit" name="submit" value="submit">
    </form>

{% endblock %}
