{% extends "general/base.html" %}

{% block standard %}
  <p>group home page</p>
  <p>{{ name }}</p>
  <p>{{ group.location }}</p>
  <p>{{ group.description }}</p>
  {% for member in members %}
    <p>{{ member.user.username }}</p>
  {% endfor %}

  <h3>Activities</h3>
  {% for activity in activities %}
    {% if activity.user == user %}
      {% if activity.category == 2 %}
        <p>Non Validation = {{ activity.description }}</p>
      {% endif %}
      {% if activity.category == 4 %}
        <p>
          Validation = {{ activity.description }}
          {% if activity.expense != None %}
            <a href="{% url 'verify_expense' activity.expense.id activity.id %}">Yes</a>
          {% endif %}
          {% if activity.bundle != None %}
            <a href="{% url 'verify_bundle' activity.bundle.id activity.id %}">Yes</a>
          {% endif %}
        </p>
        {% if activity.reference != 0 %}
          {% for item in items %}
            {% if item.reference == activity.reference %}
              <p>{{ item.item }} - {{ item.amount }}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
    {% if activity.user != user %}
      {% if activity.category == 1 %}
        <p>general = {{ activity.description }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}

   <p><a href="{% url 'create_expense' group.id group.name|slugify %}">create expense</a></p>
   <p><a href="{% url 'create_bundle' group.id group.name|slugify %}"> create bundle</a></p>
{% endblock %}
