{% extends "general/header.html" %}

{% block content %}
  <h2>{{ name }}
    <a href="{% url 'group_info' group.id group.name|slugify %}">I</a>
  </h2>

  <h3>Activities</h3>
  {% for activity in activities %}
    {% if activity.user == user %}
      {% if activity.category == 2 %}
        <p>{{ activity.description }}</p>
      {% endif %}
      {% if activity.category == 4 %}
        <p>
          {{ activity.description }}
          {% if activity.expense != None %}
            <a href="{% url 'verify_expense' activity.expense.id activity.id %}">Yes</a>
          {% endif %}
          {% if activity.bundle != None %}
            <a href="{% url 'verify_bundle' activity.bundle.id activity.id %}">Yes</a>
          {% endif %}
        </p>
        {% if activity.reference != 0 %}
          {% for item in items %}
            {% if item.reference == activity.reference %}
              <p>{{ item.item }} - {{ item.amount }}</p>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endif %}
    {% if activity.user != user %}
      {% if activity.category == 1 %}
        <p>{{ activity.description }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if host.user == user %}
     <p><a href="{% url 'create_expense' group.id group.name|slugify %}">create expense</a></p>
     <p><a href="{% url 'create_bundle' group.id group.name|slugify %}"> create bundle</a></p>
  {% endif %}
  {% if host.user != user %}
    <p><a href="{% url 'leave_group' group.id %}">Leave</a></p>
  {% endif %}

{% endblock %}
