.testing-color-1 {
  background-color: lightblue !important;
}

.testing-color-2 {
  background-color: lightgreen !important;
}

.testing-color-3 {
  background-color: white !important;
}

.padding-icons {
  padding-top: 1em !important;
}

.margin-icons {
  margin: .5em !important;
}

.center-item-h {
  margin-left: auto !important;
  margin-right: auto !important;
}

.cetner-text-h {
  text-align: center !important;
}

.fill-page-height {
  height: 65em !important;
}

.icon-height {
  height: 2.5em !important;
}
